<mat-card>
  <button mat-raised-button (click)="openDialog()" color="primary">Create Type</button>
  </mat-card>
  <mat-card>
    <div class="example-container mat-elevation-z8">  
        <mat-table #Table [dataSource]="propertyTypeDataSource" matSort>   
    
            <!-- For Property type -->  
            <ng-container matColumnDef="propertytype" sticky>  
                <mat-header-cell *matHeaderCellDef mat-sort-header> Property Type </mat-header-cell>
                <mat-cell *matCellDef="let propertyType"> {{propertyType.PropertyType}} </mat-cell>  
            </ng-container>  

            <ng-container matColumnDef="actions" sticky>  
                <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>  
                 <mat-cell *matCellDef="let type">  
                  <button mat-raised-button color="primary"
                    matTooltip="Edit Property Type"
                    (click)="editPropertyTypeDetails(type.id)">
                    <i class="material-icons">create</i>
                  </button>
    
                  <button mat-raised-button color="warn" 
                    matTooltip="Delete Property Type"
                    style="margin-left: 10px"
                    (click)="openConfirmDeleteDialog(type.id)">
                    <i class="material-icons">delete</i>
                  </button>
                </mat-cell>  
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>  
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>  
        </mat-table>  
    
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]">  
        </mat-paginator> 
    </div>
    </mat-card>