<mat-card>
  <button mat-raised-button (click)="openDialog()" color="primary">Create Location</button>
  </mat-card>
  <mat-card>
      <div class="example-container mat-elevation-z8">  
          <mat-table #Table [dataSource]="locationDataSource" matSort>  
      
              <!-- For ID -->  
              <ng-container matColumnDef="id" sticky>  
                  <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>  
                  <mat-cell *matCellDef="let location"> {{location.id}} </mat-cell>  
              </ng-container>  
      
              <!-- For Firm name -->  
              <ng-container matColumnDef="cityName" sticky>  
                  <mat-header-cell *matHeaderCellDef mat-sort-header> CITY NAME </mat-header-cell>  
                  <mat-cell *matCellDef="let location"> {{location.cityName}} </mat-cell>  
              </ng-container>

              <ng-container matColumnDef="location" sticky>  
                <mat-header-cell *matHeaderCellDef mat-sort-header> LOCATION </mat-header-cell>  
                <mat-cell *matCellDef="let location"> {{location.location}} </mat-cell>  
              </ng-container>
              
              <ng-container matColumnDef="actions" sticky>  
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>  
                  <mat-cell *matCellDef="let location"> 
                    <button mat-raised-button color="primary"
                      matTooltip="Edit Location"
                      (click)="editLocationDetails(location.id)">
                      <i class="material-icons">create</i>
                    </button>
      
                    <button mat-raised-button color="warn" 
                      matTooltip="Delete Firm"
                      style="margin-left: 10px"
                      (click)="openConfirmDeleteDialog(location.id)">
                      <i class="material-icons">delete</i>
                    </button>
                  </mat-cell>  
              </ng-container>
  
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>  
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>  
          </mat-table>  
      
          <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]">  
          </mat-paginator> 
      </div>
</mat-card>  